//font
$baseFontSize: 16px;

$sizeH1: 45px;
$sizeH2: 37px;
$sizeH3: 27px;
$sizeH4: 23px;
$sizeH5: 18px;
$sizeH6: 16px;

$baseLineHeight: 1.6;

$baseFontColor: #333333;
$baseLinkColor: #0099FF;

$fontFamily: 'Maven Pro', sans-serif;

//color
$themeColor: #09F;
$baseBorderColor: #DDDDDD;

$red: #FF2233;
$green: #22FF11;
$blue: #3399FF;
$yellow: #FFFF33;
$gray: #888888;

// background
$bgBody: #FFFFFF;
$bgHeader: #F0F0F0;